* {
  margin: 0;
  padding: 0;
}
.destination {
  position: absolute;
  visibility: hidden;
  background: #242526;
  top: 85px;
  width: 50%;
  left: 420px;
  padding: 0 30px;
  opacity: 0;
}
a:hover .destination {
  top: 65px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
